@using CompanyManagement.ViewModel

@{
    Layout = "_AdminLayout";
    var ticketSummaries = (List<TicketSummary>)ViewBag.TicketSummaries;
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <h1 class="m-0 text-dark">Dashboard</h1>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            @{
                int i = 0;
                string[] classlist = { "bg-info", "bg-success", "bg-warning", "bg-danger", "bg-primary" };
                string[] iclasslist = { "ion-bag", "ion-stats-bars", "ion-person-add", "ion-pie-graph", "ion-ios-list" };
                string[] urls = { "/Ticket/ActiveTickets", "/Ticket/ProcessingTickets", "/Ticket/ClosedTickets", "/Ticket/DiscardedTickets", "/Ticket/GetAllTickets" };

                foreach (var dt in ticketSummaries)
                {
                    var index = i % 5; // Cycle through the 5 styles (including total)
                    i++;

                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box @classlist[index]">
                            <div class="inner">
                                <h3>@dt.StatusCount</h3>
                                <p>@dt.ActiveStatusString</p>
                            </div>
                            <div class="icon">
                                <i class="ion @iclasslist[index]"></i>
                            </div>
                            <a href="@urls[index]" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                }
            }
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
